<div id="main-nav-wrap">
	<div class="relative">
		<div class="background"></div>
		<div id="main-logo">
			<a href="/"><img src="/logos/Mobatec-White.png" alt="Mobatec website logo"></a>
		</div>
		<div id="responsive-menu-opener" onclick="openResponsiveMenu()">
			<div class="relative">
				<div class="arrow" id="top-arrow"></div>
				<div class="arrow" id="middle-arrow"></div>
				<div class="arrow" id="bottom-arrow"></div>
			</div>
		</div>
		<nav aria-label="Main" id="main-menu">
			<ul>
				<li>
					<a href="/" data-pagename="home">Home</a>
				</li>
				<li class="separator"><div></div></li>
				<li>
					<a href="/services" data-pagename="services">Services</a>
				</li>
				<li class="separator"><div></div></li>
				<li>
					<a href="/products" data-pagename="products">Products</a>
				</li>
				<li class="separator"><div></div></li>
				<li>
					<a href="/projects" data-pagename="projects">Projects</a>
				</li>
				<li class="separator"><div></div></li>
				<li>
					<a href="/downloads" data-pagename="downloads">Downloads</a>
				</li>
				<li class="separator"><div></div></li>
				<li>
					<a href="/company" data-pagename="company">Company</a>
				</li>
			</ul>
		</nav>	
	</div>
</div>
