<div class="topMenu">
	<div class="top">
		<div class="content">
			<div class="item">
				<!--<div class="icon" style="background-image:url(/icons/Mobatec-Modeller-Logo-Green.svg)">
					<a href="#"><img src="/icons/Mobatec-Modeller-Logo-White.svg"></a>
				</div>-->
				<div class="text">
					<a href="#">Downloads</a>
				</div>
			</div>
			<div class="item">|</div>
			<div class="item">
				<div class="text">
					<a href="#">MobaCloud</a>
				</div>
			</div>
			<div class="item">|</div>
			<div class="item">
				<div class="text">
					<a href="#">Contact Us</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="content">
			<div class="logo">
				<a href="/">
					<img src="<%=bucket%>/logos/Mobatec-Logo-Blue.svg">
				</a>
			</div>
			<div class="menuWrap">
				<nav aria-label="Main" id="top-menu">
					<ul>
						<li>
							<a href="/simulators" data-pagename="simulators">Simulators</a>
						</li>
						<li>
							<a href="/process-modelling" data-pagename="modelling">Modelling</a>
						</li>
						<li>
							<a href="/software" data-pagename="projects">Software</a>
						</li>
						<li>
							<a href="/stories" data-pagename="stories">Stories</a>
						</li>
						<li>
							<a href="/about-us" data-pagename="about-us">About Us</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="playButton">
				<img src="<%=bucket%>/icons/Play-Button-Blue.svg">
			</div>
		</div>
	</div>
</div>
