<%- include ("partials/header") -%>
	<div class="homeHeader">
		<div class="left">
			<div class="content">
				<div class="title">Expertsss for<br><span>Process Modelling</span></div>
				<div class="subTitle">Get substantial cost savings in validating or optimizing industrial processes.</div>
				<div class="subTitle2">Select your priority:</div>
				<div class="buttonsWrap">
					<div class="button">Training</div>
					<div class="button">Operations</div>
					<div class="button">Innovation</div>
				</div>
			</div>
		</div><!--
		--><div class="right">
			<div class="content">
				<video autoplay muted loop>
					<source src="/videos/Welcome_to_Mobatec.mp4" type="video/mp4">
				</video>
				<div class="videoNote">Play Video</div>
			</div>
		</div>
	</div>
	<div class="customersWrap">
		<div class="logoWrap">
			<img src="/logos/HUNT_C.png">
		</div>
		<div class="logoWrap">
			<img src="/logos/BP_C.png">
		</div>
		<div class="logoWrap">
			<img src="/logos/Shell_C.png">
		</div>
		<div class="logoWrap">
			<img src="/logos/TATA_C.png">
		</div>
		<div class="logoWrap">
			<img src="/logos/SABIC_C.png">
		</div>
	</div>
	<div class="whitePaperWrap">
		<div class="overlay"></div>
		<div class="shortContent">
			<div class="noteWrap">
				<div class="smallTitle">FREE WHITEPAPER</div>
				<div class="bigTitle">Successfully Apply Modelling and Simulation in Process Industry</div>
			</div>
			<div class="buttonWrap">
				<div class="button">More Info</div>
			</div>
		</div>
	</div>
	<div class="whiteBackground">
		<div class="shortContent">
			<div class="homeTrioWrap">
				<div class="homeTrio">
					<img src="/icons/Safety-and-Efficiency.png">
					<div class="title">SAFETY AND EFFICIENCY</div>
					<div class="subTitle">GO HAND-IN-HAND</div>
				</div>
				<div class="homeTrio">
					<img src="/icons/Workflow.png">
					<div class="title">WE UNDERSTAND</div>
					<div class="subTitle">YOUR WORKFLOWS</div>
				</div>
				<div class="homeTrio">
					<img src="/icons/Innovation.png">
					<div class="title">INNOVATION TAILORED</div>
					<div class="subTitle">TO YOUR NEEDS</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gradientSeparator"></div>
	<div class="whiteBackground homeDualWrap">
		<div class="shortContent">
			<div class="dualContent">
				<div class="imageWrap">
					<div class="imagePlaceholder"></div>
				</div>
				<div class="textWrap">
					<div class="title">SAFETY AND EFFICIENCY</div>
					<div class="subTitle">GO HAND-IN-HAND</div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
					<div class="moreButton">More Info</div>
				</div>
			</div>
		</div>
		<div class="rightSeparator"></div>
		<div class="shortContent">
			<div class="dualContent">
				<div class="textWrap">
					<div class="title">WE UNDERSTAND</div>
					<div class="subTitle">YOUR WORKFLOWS</div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
					<div class="moreButton">More Info</div>
				</div>
				<div class="imageWrap">
					<div class="imagePlaceholder"></div>
				</div>
			</div>
		</div>
		<div class="leftSeparator"></div>
		<div class="shortContent">
			<div class="dualContent">
				<div class="imageWrap">
					<div class="imagePlaceholder"></div>
				</div>
				<div class="textWrap">
					<div class="title">INNOVATION TAILORED</div>
					<div class="subTitle">TO YOUR NEEDS</div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
					<div class="moreButton">More Info</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gradientSeparator paddedSeparator"></div>
	<div class="pageBigTitle">GLOBAL PROJECTS</div>
	<div class="pageNote">Some projects we are proud of</div>
	<div class="homeProjectsWrap">
		<div class="leftWrap">
			<div class="blur"></div>
			<div class="arrow" onclick="showSlide(-1)">
				<img src="/icons/leftArrow.png">
			</div>
		</div>
		<div class="rightWrap">
			<div class="blur"></div>
			<div class="arrow" onclick="showSlide(1)">
				<img src="/icons/rightArrow.png">
			</div>
		</div>
		<div class="slidesWrap">
			<div class="slide">
				<div class="imageWrap">
					<img class="image" src="/images/Slide1.jpeg">
				</div>
				<div class="textWrap">
					<div class="text">
						1. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
					</div>
					<div class="moreButton">Read More</div>
				</div>
			</div>
			<div class="slide">
				<div class="imageWrap">
					<img class="image" src="/images/Slide2.jpeg">
				</div>
				<div class="textWrap">
					<div class="text">
						2. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
					</div>
					<div class="moreButton">Read More</div>
				</div>
			</div>
			<div class="slide">
				<div class="imageWrap">
					<img class="image" src="/images/Slide3.jpeg">
				</div>
				<div class="textWrap">
					<div class="text">
						3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
					</div>
					<div class="moreButton">Read More</div>
				</div>
			</div>
			<div class="slide">
				<div class="imageWrap">
					<img class="image" src="/images/Slide4.jpeg">
				</div>
				<div class="textWrap">
					<div class="text">
						4. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
					</div>
					<div class="moreButton">Read More</div>
				</div>
			</div>
			<div class="slide">
				<div class="imageWrap">
					<img class="image" src="/images/Slide5.jpeg">
				</div>
				<div class="textWrap">
					<div class="text">
						5. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
					</div>
					<div class="moreButton">Read More</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/homeSlides.js"></script>
	</div>
<%- include ("partials/footer") -%>