<%- include ("partials/header") -%>
	<div class="backgroundHeaderTitle projectsPageHeaderBackground">
		<div class="overlay"></div>
		<div class="content">
			<div class="title">The road to mutual success</div>
			<div class="subTitle">is paved with win-win deals.</div>
			<div class="link">Jump to our success stories <span>&#8595;</span></div>
		</div>
	</div>
	<div class="projectsFixedBackground"></div>
	<div class="projectFlowWrap">
		<div class="row">
			<div class="rowElem">
				<div class="content">
					<div class="title">Strategy Call</div>
					<div class="deltoidSeparator"></div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
			</div><!--
			--><div class="rowElem">
				<div class="circleBellow"></div><!--
				--><div class="transparentBar"></div><!--
				--><div class="circleBellow"></div>
				<div class="circleWrap">
					<div class="circleLeft"></div><!--
					--><div class="circle">
						<div class="number">1.</div>
					</div><!--
					--><div class="circleRight"></div>
				</div>
				<div class="bellowCircle">
					<div class="circleBellow"></div><!--
				--><div class="transparentBar"></div><!--
				--><div class="circleBellow"></div>
				</div>
			</div><!--
			--><div class="rowElem">
				<div class="imageWrap">
					<img src="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="rowElem">
				<div class="imageWrap">
					<img src="">
				</div>
			</div><!--
			--><div class="rowElem">
				<div class="circleBellow"></div><!--
				--><div class="transparentBar"></div><!--
				--><div class="circleBellow"></div>
				<div class="circleWrap">
					<div class="circleLeft"></div><!--
					--><div class="circle">
						<div class="number">2.</div>
					</div><!--
					--><div class="circleRight"></div>
				</div>
				<div class="bellowCircle">
					<div class="circleBellow"></div><!--
				--><div class="transparentBar"></div><!--
				--><div class="circleBellow"></div>
				</div>
			</div><!--
			--><div class="rowElem">
				<div class="content">
					<div class="title">Budget Quote</div>
					<div class="deltoidSeparator"></div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="rowElem">
				<div class="content">
					<div class="title">Model Building</div>
					<div class="deltoidSeparator"></div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
			</div><!--
			--><div class="rowElem">
				<div class="circleBellow"></div><!--
				--><div class="transparentBar"></div><!--
				--><div class="circleBellow"></div>
				<div class="circleWrap">
					<div class="circleLeft"></div><!--
					--><div class="circle">
						<div class="number">3.</div>
					</div><!--
					--><div class="circleRight"></div>
				</div>
				<div class="bellowCircle">
					<div class="circleBellow"></div><!--
				--><div class="transparentBar"></div><!--
				--><div class="circleBellow"></div>
				</div>
			</div><!--
			--><div class="rowElem">
				<div class="imageWrap">
					<img src="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="rowElem">
				<div class="imageWrap">
					<img src="">
				</div>
			</div><!--
			--><div class="rowElem">
				<div class="circleBellow"></div><!--
				--><div class="transparentBar"></div><!--
				--><div class="circleBellow"></div>
				<div class="circleWrap">
					<div class="circleLeft"></div><!--
					--><div class="circle">
						<div class="number">4.</div>
					</div><!--
					--><div class="circleRight"></div>
				</div>
				<div class="bellowCircle">
					<div class="circleBellow"></div><!--
				--><div class="transparentBar"></div><!--
				--><div class="circleBellow"></div>
				</div>
			</div><!--
			--><div class="rowElem">
				<div class="content">
					<div class="title">Model Validation</div>
					<div class="deltoidSeparator"></div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="rowElem">
				<div class="content">
					<div class="title">Return of Investment</div>
					<div class="deltoidSeparator"></div>
					<div class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
			</div><!--
			--><div class="rowElem">
				<div class="circleBellow"></div><!--
				--><div class="transparentBar"></div><!--
				--><div class="circleBellow"></div>
				<div class="circleWrap">
					<div class="circleLeft"></div><!--
					--><div class="circle">
						<div class="number">5.</div>
					</div><!--
					--><div class="circleRight"></div>
				</div>
				<div class="bellowCircle">
					<div class="circleBellow"></div><!--
				--><div class="transparentBar"></div><!--
				--><div class="circleBellow"></div>
				</div>
			</div><!--
			--><div class="rowElem">
				<div class="imageWrap">
					<img src="">
				</div>
			</div>
		</div>
	</div>
	<script>
		function equalizeRows(){
			var rows	=	document.getElementsByClassName("projectFlowWrap")[0].getElementsByClassName("row");
			for(var i=0;i<rows.length;i++){
				var biggestHeight	=	0;
				var rowElems	=	rows[i].getElementsByClassName("rowElem");
				for(var j=0;j<rowElems.length;j++){
					rowElems[j].style.height 	=	"";
				}
				for(var j=0;j<rowElems.length;j++){
					if(rowElems[j].offsetHeight>biggestHeight){
						biggestHeight	=	rowElems[j].offsetHeight;
					}
				}
				for(var j=0;j<rowElems.length;j++){
					rowElems[j].style.height 	=	biggestHeight + "px";
				}
			}
		}
		
		equalizeRows();

		function equalizeProjectRows(){
			var rows	=	document.getElementById("projects").getElementsByClassName("projectRow");
			for(var i=0;i<rows.length;i++){
				rows[i].style.height	=	"100vh";
			}
			for(var i=0;i<rows.length;i++){
				rows[i].style.height	=	rows[i].getElementsByClassName("contentWrap")[0].offsetHeight+"px";
			}
		}

		window.addEventListener('resize', function(event){
			equalizeRows();
			equalizeProjectRows()
		});
	</script>
	<div class="paddedSection whiteBackground inFront">
		<div class="gradientSeparator"></div>
		<div class="pageBigTitle">Success stories we can share</div>
	</div>
	<div id="projects" class="projectsPageProjects"></div>
	<script>
		var projects	=	<%- JSON.stringify(projects) %>;
		for(var i=0;i<projects.length;i++){
			var projectRow	=	document.createElement("DIV");
			projectRow.setAttribute("class","projectRow");

				var imageWrap	=	document.createElement("DIV");
				imageWrap.setAttribute("class","imageWrap");

					var image	=	document.createElement("IMG");
					image.setAttribute("class","image");
					image.setAttribute("src",projects[i].image);
					imageWrap.appendChild(image);

					var grayImage	=	document.createElement("IMG");
					grayImage.setAttribute("class","grayImage");
					grayImage.setAttribute("src",projects[i].image);
					imageWrap.appendChild(grayImage);

					var overlay	=	document.createElement("DIV");
					overlay.setAttribute("class","overlay");
					imageWrap.appendChild(overlay);

					var title	=	document.createElement("DIV");
					title.setAttribute("class","title");
					title.innerHTML	=	projects[i].name;
					imageWrap.appendChild(title);

				var contentWrap	=	document.createElement("DIV");
				contentWrap.setAttribute("class","contentWrap");

					var content	=	document.createElement("DIV");
					content.setAttribute("class","content");

						var title	=	document.createElement("DIV");
						title.setAttribute("class","title");
						title.innerHTML		=	projects[i].name;
						content.appendChild(title);

						var text	=	document.createElement("DIV");
						text.setAttribute("class","text");
						text.innerHTML	=	projects[i].description;
						content.appendChild(text);

						if(projects[i].link){
							var moreLink	=	document.createElement("DIV");
							moreLink.setAttribute("class","button");

								var link	=	document.createElement("A");
								link.setAttribute("href",projects[i].link);
								link.innerHTML	=	"Read more";
								moreLink.appendChild(link);

							content.appendChild(moreLink);
						}
					contentWrap.appendChild(content);

				if(i%2==0){
					projectRow.appendChild(imageWrap);
					projectRow.appendChild(contentWrap);
				}else{
					projectRow.appendChild(contentWrap);
					projectRow.appendChild(imageWrap);
				}
			document.getElementById("projects").appendChild(projectRow);
		}
		equalizeProjectRows()
	</script>
<%- include ("partials/footer") -%>